.ContLinks {
    display: flex;


}
nav {
    background-color: blueviolet;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
}

.links {
    display: flex;
    gap:  10px;

}
a {
text-decoration: none;
color: black;
list-style: none;
}

#botudo {
background-color: transparent;
text-decoration: none;
border: none;
font-size: 15px;
}